body {
    background-image: url('../img/stars.jpg');
    margin: 0;
}

h1{
    font-family: 'Press Start 2P', cursive;
    color: #fff;
}

.card {
    border: 1px solid #333;
}

.card__title {
    display: block;
}

#map {
    height: 100%;
  }

  /* Optional: Makes the sample page fill the window. */
  html, body {
    height: 100%;
    margin: 0;
    padding: 0;
  }