body {
  background-image: url("../img/stars.jpg");
  margin: 0;
  padding: 0 15%;
  color: #FFF;
  font-family: Arial, Helvetica, sans-serif; }
  @media (max-width: 799px) {
    body {
      padding: 0 10px; } }

h1 {
  font-family: 'Press Start 2P', cursive;
  color: #f60;
  line-height: 45px; }
  @media (max-width: 799px) {
    h1 {
      font-size: 20px;
      line-height: 30px; } }

ul {
  padding: 0; }
  ul li {
    list-style: none;
    padding: 5px 0; }

a {
  display: block;
  margin-bottom: 10px;
  color: #fff;
  text-decoration: none; }

.card {
  margin-bottom: 50px; }
  .card__title {
    display: block;
    font-size: 20px;
    font-family: 'Press Start 2P', cursive;
    border-bottom: 1px solid #f60;
    margin-bottom: 10px;
    color: #f60; }
    @media (max-width: 799px) {
      .card__title {
        font-size: 14px; } }
  .card img {
    max-width: 100%; }

.counter {
  font-family: 'Press Start 2P', cursive; }

#map {
  height: 100%; }

#news {
  font-size: 20px; }
  #news div {
    width: 100%;
    background: #555;
    text-align: center;
  }
